# Project image folders
Cell_Images/
Labeled_images/

# Ignore YOLO and SAM directories anywhere
**/yolo*/
**/sam*/

# Ignore model weights
*.pt
*.pth

# Python / jupyter / misc
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
env/
.env
.ipynb_checkpoints
.DS_Store
Thumbs.db

# Large data / models
models/
data/
# keep final_labels_manual.csv tracked